# UNION: 집합연산

------------------------
<BR><BR>

## UNION 
두개의 데이터를 중복값을 없애고 위아래로 합쳐준다

## UNION ALL
두개의 데이터를 포함하고 위아래로 합쳐준다

<BR>

-----

### 코드 예시: UNION 사용하지 않은 코드

prodcut 테이블에서 price가 5이하 또는 200이상인 상품들만 출력하세요.

In [1]:
'''
SELECT *
FROM Products
WHERE price <= 5 or price >=200
'''

'\nSELECT *\nFROM Products\nWHERE price <= 5 or price >=200\n'

### 코드 예시: UNION 사용한 코드

In [2]:
'''
SELECT *
FROM Products
WHERE price <= 5

UNION

SELECT *
FROM Products
WHERE price >=200
'''

'\nSELECT *\nFROM Products\nWHERE price <= 5\n\nUNION\n\nSELECT *\nFROM Products\nWHERE price >=200\n'

<BR>

-------------------

## 합집합 : LEFT, UNION, RIGHT 조합
두개의 있는 테이블의 원소를 다 보고 싶을 때...

In [ ]:
'''
SELECT * 
FROM Customers
    LEFT JOIN Orders ON Customers.Customerid = Orders.Customerid

UNION
    
SELECT * 
FROM Customers
    RIGHT JOIN Orders ON Customers.Customerid = Orders.Customerid
'''

-----------------------

<BR><BR>

#### 쉬어가기) MYSQL에서 지원하지 않지만 오라클에서 지원하는 함수 기능

### 합집합: FULL OUTER -> MYSQL에서 지원안함.

In [6]:
'''
SELECT * 
FROM Customers
    FULL OUTER JOIN Orders ON Customers.Customerid = Orders.Customerid
'''

'\nSELECT * \nFROM Customers\n    FULL OUTER JOIN Orders ON Customers.Customerid = Orders.Customerid\n'

### 차집합 함수: EXCEPT / MINUS

위에 있는 데이터만 보고 싶을 때 사용.

In [3]:
'''
SELECT *
FROM Products
WHERE price <= 5

EXCEPT 또는 MINUS

SELECT *
FROM Products
WHERE price >=200
'''

'\nSELECT *\nFROM Products\nWHERE price <= 5\n\nEXCEPT 또는 MINUS\n\nSELECT *\nFROM Products\nWHERE price >=200\n'

### 교집합 : INTERSECT

두 개의 테이블이 겹치는 부분을 보고 싶을 때 사용

In [5]:
'''
SELECT *
FROM Products
WHERE price <= 5

INTERSECT

SELECT *
FROM Products
WHERE price >=200
'''

'\nSELECT *\nFROM Products\nWHERE price <= 5\n\nINTERSECT\n\nSELECT *\nFROM Products\nWHERE price >=200\n'

<BR><BR>


-----------

# **동영상 한번 더 보기**

## 문제: Self JOIN, UNION, ORDER BY, INNER JOIN AND
X,Y 복제해서 잘 한쌍을 출력해라?

https://www.hackerrank.com/challenges/symmetric-pairs/problem?h_r=internal-search

In [7]:
'''
SELECT X, Y
FROM functions
WHERE X = Y
GROUP BY X, Y
HAVING COUNT(*) = 2

UNION

SELECT f1.x, f1.y
FROM functions AS f1
    INNER JOIN functions AS F2 ON f1.x = f2.y AND f1.y = f2.x
WHERE f1.x < f1.y
ORDER BY x
'''

'\nSELECT X, Y\nFROM functions\nWHERE X = Y\nGROUP BY X, Y\nHAVING COUNT(*) = 2\n\nUNION\n\nSELECT f1.x, f1.y\nFROM functions AS f1\n    INNER JOIN functions AS F2 ON f1.x = f2.y AND f1.y = f2.x\nWHERE f1.x < f1.y\nORDER BY x\n'

#### 해설: 문제 구조

20 20  -- x, y 가 같은 값일 때

**union** 

20 21  -- x,y가 다르면서 x < y 일 때

22 23

**ORDER BY** x   -- x 기준으로 오름차순

- union을 할 때는 **ORDER BY** 가 가장 마지막에 나와야한다.