sql 테이블 

https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in


# SQL의 예약어는 대문자로 써줄 것


<br><br>

-------

# SELECT : 데이터 선택
# FROM : 어떤 데이터

### 문제 1

https://www.hackerrank.com/challenges/select-all-sql/problem

In [32]:
SELECT *
FROM city

SyntaxError: invalid syntax (<ipython-input-32-8ad1ff3c9240>, line 1)

### 문제 2
https://www.hackerrank.com/challenges/weather-observation-station-1/problem

In [33]:
SELECT city, state
FROM station

SyntaxError: invalid syntax (<ipython-input-33-8e4f9b274eb2>, line 1)

-----------------------------------------------

# WHERE : 특정 조건

## 비교 연산자 : =, <=, >=, < , >
- 특정 컬럼이 특정 값을 가지는 데이터만 불러오기 위해서 사용
- 숫자 뿐 만 아니라 문자도 가능

## 논리연산자 : AND , OR ,NOT
-AND : ?
-OR :

In [34]:
'''SQL

SELECT *
FROM Customers
WHERE City < 'S' AND CustomerID	> 20 # 알파벳 순서 S 이전, 아이디 20 이상 조건 둘 다 만족

'''

"SQL\n\nSELECT *\nFROM Customers\nWHERE City < 'S' AND CustomerID\t> 20 # 알파벳 순서 S 이전, 아이디 20 이상 조건 둘 다 만족\n\n"

<br><br>

## LIKE : 문자열 패턴

- % : 앞뒤 어떤 문자가 왔으면 좋겠다.

와이드 카드라고 부르기도 한다

### % 예시

In [35]:
'''sql

SELECT *
FROM Customers
WHERE country Like 's%' # s로 시작하는 나라를 보여줘라

'''

"sql\n\nSELECT *\nFROM Customers\nWHERE country Like 's%' # s로 시작하는 나라를 보여줘라\n\n"

### _(언더바) : 빈 칸 맞추기

- 예시 : 소_시대 -> 소녀시대

In [36]:
'''sql

SELECT *
FROM Customers
WHERE country Like 's____' # s로 시작하는 S_____ 5글자가 나와라.

'''

"sql\n\nSELECT *\nFROM Customers\nWHERE country Like 's____' # s로 시작하는 S_____ 5글자가 나와라.\n\n"

### = 예시 : 독일

In [37]:
'''sql

SELECT *
FROM Customers
WHERE COUNTRY = 'Germany'

'''

"sql\n\nSELECT *\nFROM Customers\nWHERE COUNTRY = 'Germany'\n\n"

### IN 예시 : 독일, 프랑스

In [38]:
'''SQL

SELECT *
FROM Customers
WHERE country IN ('Germany' , 'France')

'''

"SQL\n\nSELECT *\nFROM Customers\nWHERE country IN ('Germany' , 'France')\n\n"

###### IN을 안 쓸 경우:

In [39]:
'''SQL

SELECT *
FROM Customers
WHERE country ='Germany' OR country =  'France')

'''

"SQL\n\nSELECT *\nFROM Customers\nWHERE country ='Germany' OR country =  'France')\n\n"

### BETWEEN

In [40]:
'''
SELECT *
FROM Customers
WHERE CustomerID BETWEEN 3 AND 5

'''

'\nSELECT *\nFROM Customers\nWHERE CustomerID BETWEEN 3 AND 5\n\n'

###### BETWEEN을 안 쓸 경우:

In [41]:
'''
SELECT *
FROM Customers
WHERE CustomerID >= 3 AND CustomerID <=  5

'''

'\nSELECT *\nFROM Customers\nWHERE CustomerID >= 3 AND CustomerID <=  5\n\n'

### ISNULL
- NULL은 숫자도 아니고 문자도 아니다. 비어 있는 값이다.

In [42]:
'''
SELECT *
FROM Customers
WHERE CustomerID IS NULL

'''

'\nSELECT *\nFROM Customers\nWHERE CustomerID IS NULL\n\n'

<BR><BR><BR>

### 문제 1

https://www.hackerrank.com/challenges/revising-the-select-query/problem

In [43]:
'''
SELECT *
FROM CITY
WHERE POPULATION > 100000 AND COUNTRYCODE = 'USA'
'''

"\nSELECT *\nFROM CITY\nWHERE POPULATION > 100000 AND COUNTRYCODE = 'USA'\n"

### 문제 2
https://www.hackerrank.com/challenges/select-by-id/problem

In [44]:
'''
SELECT *
FROM CITY
WHERE ID = 1661
'''

'\nSELECT *\nFROM CITY\nWHERE ID = 1661\n'

### 문제 3: DISTINCT - > 중복값 제거
https://www.hackerrank.com/challenges/weather-observation-station-6/problem

In [45]:
'''
SELECT DISTINCT city
FROM sation
WHERE city LIKE 'i%' 
or city LIKE 'a%' 
or city LIKE 'e%' 
or city LIKE 'o%' 
or city LIKE 'u%' 
'''

"\nSELECT DISTINCT city\nFROM sation\nWHERE city LIKE 'i%' \nor city LIKE 'a%' \nor city LIKE 'e%' \nor city LIKE 'o%' \nor city LIKE 'u%' \n"

### 문제 4: NOT LIKE
https://www.hackerrank.com/challenges/weather-observation-station-12/problem

In [46]:
'''
SELECT DISTINCT City
FROM Station
WHERE REGEXP_LIKE(City, '^[^AEIOU].*[^aeiou]$')
'''

"\nSELECT DISTINCT City\nFROM Station\nWHERE REGEXP_LIKE(City, '^[^AEIOU].*[^aeiou]$')\n"

[^aeiou] -> should not match any character aeiou

^[^aeiou] -> should not match first character with aeiou

----------------------------

# ORDER BY : 정렬

## 최대, 최소, 순서대로 상위 3개?

- 오름차순: 가장 작은 것 부터 차례대로 -> ASC
- 내림차순 : 가장 큰 것 부터 -> DESC

In [51]:
'''
SELECT *
FROM Customers
ORDER BY customerid DESC # 내림차순
'''

'\nSELECT *\nFROM Customers\nORDER BY customerid DESC # 내림차순\n'

### WHERE ,ORDER BY절

In [48]:
'''
SELECT *
FROM Products
WHERE price >= 20
ORDER BY price DESC
'''

'\nSELECT *\nFROM Products\nWHERE price >= 20\nORDER BY price DESC\n'

### 가격 상위 3개

In [49]:
'''
SELECT *
FROM Products
ORDER BY price DESC
LIMIT 3
'''

'\nSELECT *\nFROM Products\nORDER BY price DESC\nLIMIT 3\n'

### 가격 하위 3개

In [50]:
'''
SELECT *
FROM Products
ORDER BY price ASC
LIMIT 3
'''

'\nSELECT *\nFROM Products\nORDER BY price ASC\nLIMIT 3\n'

### 문제 1: order by
https://www.hackerrank.com/challenges/name-of-employees/problem?h_r=internal-search

In [52]:
'''
SELECT name
FROM employee
ORDER BY name
'''

'\nSELECT name\nFROM employee\nORDER BY name\n'

### 문제 2: order by
직원의 이름을 2000불 이상, 10달 이하 근무 한 직원 아이디 순으로 정렬해라.

https://www.hackerrank.com/challenges/salary-of-employees/problem?h_r=internal-search

In [53]:
'''
SELECT NAME
FROM Employee
WHERE salary > 2000 and months < 10
ORDER BY employee_id
'''

'\nSELECT NAME\nFROM Employee\nWHERE salary > 2000 and months < 10\nORDER BY employee_id\n'

### 문제 3: 
75점 초과, 마지막 세글자 기준 이름 정렬
<br>
https://www.hackerrank.com/challenges/more-than-75-marks/problem?h_r=internal-search

### **문제3:문자열 자르기**

**LEFT**(컬럼명 또는 문자열, 문자열의 길이)<BR>
예시: SELECT LEFT('20200317', 4) -> 2014
    
**RIGHT**(컬럼명 또는 문자열, 문자열의 길이)<BR>
예시: SELECT RIGHT('20200317', 5) -> 0317
    
**SUBSTRING**(컬럼명 또는 문자열, 시작 위치, 길이) 
=> **SUBSTR()** 
<BR>
예시: SUBSTR('20200317, 1, 4') -> 2014
예시: SUBSTR('20140323' , 5) -> 0323

In [57]:
'''
SELECT NAME
FROM students
WHERE Marks > 75
ORDER BY RIGHT(NAME,3), ID
'''

'\nSELECT NAME\nFROM students\nWHERE Marks > 75\nORDER BY RIGHT(NAME,3), ID\n'

### 문제 4:

LONG_N을 소수점 4번째 자리까지 반올림 하고, LAT_N이 137.2345 초과인 LAT_N 최댓값을 찾아라.

https://www.hackerrank.com/challenges/weather-observation-station-15/problem?h_r=internal-search

### **문제 4_소수점 처리**

**CEIL()** : 올림 <BR>
예시 : SELECT CEIL(5.5) -> 6

**FLOOR()** : 내림<BR>
예시 : SELECT FLLOR(5.5) -> 5
    
**ROUND()** : 반올림 <BR>
예시 : ROUND(5.556901, 4) -> 5.5769

In [59]:
'''
SELECT ROUND(LONG_W, 4)
FROM STATION
WHERE LAT_N < 137.2345
ORDER BY LAT_N DESC
LIMIT 1
'''

'SQL\nSELECT ROUND(LONG_W, 4)\nFROM STATION\nWHERE LAT_N < 137.2345\nORDER BY LAT_N DESC\nLIMIT 1\n'