### 서브쿼리

------

### FROM절 서브쿼리 -> 가상의 테이블

In [1]:
'''
SELECT daily_stats.week,
       AVG(daily_stats.incidents_daily)
FROM(
    SELECT week, 
            date,
            COUNT(incident_id) AS incidents_daily
    FROM crimes
    GROUP BY week, date
) daily_stats
GROUP BY daily_stats.week
'''

'\nSELECT daily_stats.week,\n       AVG(daily_stats.incidents_daily)\nFROM(\n    SELECT week, \n            date,\n            COUNT(incident_id) AS incidents_daily\n    FROM crimes\n    GROUP BY week, date\n) daily_stats\nGROUP BY daily_stats.week\n'

### where절 서브쿼리

In [2]:
'''
SELECT *
FROM crimes
WHERE date = (SELECT MIN(date) FROM crimes)

SELECT *
FROM crimes
WHERE date IN (SELECT date FROM crimes ORDER BY date DESC LIMIT 5)
'''

'\nSELECT *\nFROM crimes\nWHERE date = (SELECT MIN(date) FROM crimes)\n\nSELECT *\nFROM crimes\nWHERE date IN (SELECT date FROM crimes ORDER BY date DESC LIMIT 5)\n'

<br><br>

---------------------

### TOP earners

https://www.hackerrank.com/challenges/earnings-of-employees/problem?h_r=internal-search

#### whrer절 서브쿼리

In [2]:
'''
SELECT months * salary AS earnings, COUNT(*)
FROM employee
WHERE months * salary = (SELECT MAX(months * salary) FROM employee)
GROUP BY earnings
'''

'\nSELECT months * salary AS earnings, COUNT(*)\nFROM employee\nWHERE months * salary = (SELECT MAX(months * salary) FROM employee)\nGROUP BY earnings\n'

#### having 서브쿼리

In [3]:
'''
SELECT months * salary AS earnings, COUNT(*)
FROM employee
GROUP BY earnings
HAVING earnings = (SELECT MAX(months * salary) FROM employee)
'''

'\nSELECT months * salary AS earnings, COUNT(*)\nFROM employee\nGROUP BY earnings\nHAVING earnings = (SELECT MAX(months * salary) FROM employee)\n'

<BR><BR>

---------------

### department-highest-salary
https://leetcode.com/problems/department-highest-salary/

<BR>

#### FROM 서브쿼리

In [3]:
'''
SELECT d.name AS department,
        e.name AS employee,
        e.salary
FROM employee AS e
    INNER JOIN (
    -- 부서에서 가장 많이 벌 때 임금과 부서 id
        SELECT department.id, MAX(salary) AS max_salary
        FROM employee
        GROUP BY departmentid
        ) AS dh ON e.departmentid = dh.departmentid
                AND e.salary = dh.max_salary
        INNER JOIN department AS d ON d.id = e.departmentid
'''

'\nSELECT d.name AS department,\n        e.name AS employee,\n        e.salary\nFROM employee AS e\n    INNER JOIN (\n    -- 부서에서 가장 많이 벌 때 임금과 부서 id\n        SELECT department.id, MAX(salary) AS max_salary\n        FROM employee\n        GROUP BY departmentid\n        ) AS dh ON e.departmentid = dh.departmentid\n                AND e.salary = dh.max_salary\n        INNER JOIN department AS d ON d.id = e.departmentid\n'

--------------
<br>

### challenges
https://www.hackerrank.com/challenges/challenges/problem?h_r=internal-search

In [4]:
'''
SELECT hackers.hacker_id 
     , hackers.name
     , COUNT(*) challenges_created
FROM Challenges
    INNER JOIN Hackers ON Challenges.hacker_id = Hackers.hacer_id
GROUP BY hackers.hacker_id, hackers.name
-- MAX(challenges_created)
HAVING challenges_creates = (SELECT MAX(challenges_created)
                             FROM (
                                 SELECT hacker_id
                                 , COUNT(*) AS challenges_created
                                 FROM Challenges
                                 GROUP BY hacker_id
                             )sub
or challenges_created IN (SELECT challenges_created
                          FROM (
                                SELECT hacker_id,
                                        COUNT(*) AS challenges_created
FROM Challenges
GROUP BY ----
        
'''

'\nSELECT hackers.hacker_id \n     , hackers.name\n     , COUNT(*) challenges_created\nFROM Challenges\n    INNER JOIN Hackers ON Challenges.hacker_id = Hackers.hacer_id\nGROUP BY hackers.hacker_id, hackers.name\n-- MAX(challenges_created)\nHAVING challenges_creates = (SELECT MAX(challenges_created)\n                             FROM (\n                                 SELECT hacker_id\n                                 , COUNT(*) AS challenges_created\n                                 FROM Challenges\n                                 GROUP BY hacker_id\n                             )sub\nor challenges_created IN (SELECT challenges_created\n                          FROM (\n                                SELECT hacker_id,\n                                        COUNT(*) AS challenges_created\nFROM Challenges\nGROUP BY ----\n        \n'

-------
<BR><BR>

## JOIN 조건이 특이한 문제+ BETWEEN 조인 조건

<BR><BR>

### THE Report
https://www.hackerrank.com/challenges/the-report/problem?h_r=internal-search

In [5]:
'''
SELECT CASE WHEN g.grade < 8 THEN NULL ELSE s.name END AS NAME
        , g.grade
        , s.marks
FROM studments AS s
     INNER JOIN grades AS g ON s.marks BETWEEN g.min_mark AND g.max_mark
ORDER BY g.grade DESC, name, s.marks

'''

'\nSELECT CASE WHEN g.grade < 8 THEN NULL ELSE s.name END AS NAME\n        , g.grade\n        , s.marks\nFROM studments AS s\n     INNER JOIN grades AS g ON s.marks BETWEEN g.min_mark AND g.max_mark\nORDER BY g.grade DESC, name, s.marks\n\n'

<br><br>

## consecutive-numbers
https://leetcode.com/problems/consecutive-numbers/