SQL 데이터 링크 : https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in

<BR><BR>
    
---------------------

# CASE : 조건

#### case 문에서는 when절의 순서가 매우 중요하다. 
#### 이럴 때는 해당하는 갯수가 가정 적은 when절을 먼저 쓴다

In [3]:
'''case 문 구조
SELECT CASE
            WHEN  ~~~~
            WHEN  ~~~~
        END
FROM

'''

'case 문 구조\nSELECT CASE\n            WHEN  ~~~~\n            WHEN  ~~~~\n        END\nFROM\n\n'

#### CASE문을 작성할 때, 결과값을 예상하는 것은 쉽지 않다. 이럴 때 END 뒤에 *을 작성해준다

## CASE문 예시

In [1]:
'''
SELECT CASE 
            WHEN categoryid = 1 THEN '음료'
            WHEN categoryid = 2 THEN '조미료'
            ELSE '기타'
       END AS 'categoryidName', *  --- case문 컬럼 별칭
FROM Products
'''

"\nSELECT CASE \n            WHEN categoryid = 1 THEN '음료'\n            WHEN categoryid = 2 THEN '조미료'\n            ELSE '기타'\n       END, *\nFROM Products\n"

## CASE문 예시 : AND

In [4]:
'''
SELECT CASE 
            WHEN categoryid = 1 AND SupplierID = 1 THEN '음료' -- 두 조건을 만족할 때만, 음료
            WHEN categoryid = 2 THEN '조미료'
            ELSE '기타'
       END AS 'categoryidName', *  
FROM Products
'''

"\nSELECT CASE \n            WHEN categoryid = 1 AND SupplierID = 1 THEN '음료'\n            WHEN categoryid = 2 THEN '조미료'\n            ELSE '기타'\n       END AS 'categoryidName', *  \nFROM Products\n"

## CASE 예시 : CASE + GROUP BY

CASE문으로 컬럼을 만들어주고, 그 컬럼을 GORUP BY 할 수 있다.
<BR>

카테고리 별로 1,2,논외 나눠주고 그 컬럼들의 평균 가격들을 구해라

In [5]:
'''
SELECT CASE
            WHEN categoryid = 1 THEN '음료'
            WHEN categoryid = 2 THEN '소스'
            ELSE '논외'
        END AS new_category
        , AVG(Price)
FROM Products
GROUP BY new_category
'''

"\nSELECT CASE\n            WHEN categoryid = 1 THEN '음료'\n            WHEN categoryid = 2 THEN '소스'\n            ELSE '논외'\n        END AS new_category\n        , AVG(Price)\nFROM Products\nGROUP BY new_category\n"

# CASE 활용한 피봇

세로로 있는 테이블을 가로로 변경하는 것

**예시-피봇 되기 전**

In [2]:
'''
Categoryid AVG(Price)
1          3.5
2          70.9
'''

'\nCategoryid AVG(Price)\n1          3.5\n2          70.9\n'

**예시-피봇 된 모습** -> 결과 값이 가로로 나오는 것을 알 수 있다.

In [4]:
'''
Categoryid1_avg   Categoryid2_avg   Categoryid3_avg
3.5                  70.9             80
'''

'\nCategoryid1_avg   Categoryid2_avg   Categoryid3_avg\n3.5                  70.9             80\n'

## 피봇 예시 
카테고리 별 평균 가격을 볼 수 있는 방법

In [ ]:
'''
SELECT AVG(CASE WHEN categoryid = 1 THEN price ELSE NULL END) AS category1_avg_price,
       AVG(CASE WHEN categoryid = 2 THEN price ELSE NULL END) AS category2_avg_price,
       AVG(CASE WHEN categoryid = 3 THEN price ELSE NULL END) AS category3_avg_price
FROM Products
'''

<BR><BR>

---------

# 문제 1 : 삼각형 문제

https://www.hackerrank.com/challenges/what-type-of-triangle/problem?h_r=internal-search

**when절의 순서가 매우 중요하다**

- 정삼각형 , 이등변, 삼각형, 삼각형이 안된다 조건문을 만들어라

In [5]:
'''
SELECT CASE
            WHEN A = B AND B = C THEN 'Equilateral'
            WHEN A + B <= C OR A + C <= B OR B + C <= A  THEN 'NOT a Triangle'
            WHEN A = B OR B = C OR A = C THEN 'Isosceles'
            ELSE 'Scalene'
        END , A, B, C  --- Sql 문제를 풀 때 출력값을 한번 뽑아서 확인하자
FROM Triangles
'''

"\nSELECT CASE\n            WHEN A = B AND B = C THEN 'Equilateral'\n            WHEN A + B <= C OR A + C <= B OR B + C <= A  THEN 'NOT a Triangle'\n            WHEN A = B OR B = C OR A = C THEN 'Isosceles'\n            ELSE 'Scalene'\n        END , A, B, C  --- Sql 문제를 풀 때 출력값을 한번 뽑아서 확인하자\nFROM Triangles\n"

# 문제 2: 피봇 테이블
#### GROUP BY, SUM,

https://leetcode.com/problems/reformat-department-table/

In [6]:
'''
SELECT id
    ,SUM(CASE WHEN month = 'jan' THEN Revenue ELSE NULL END) AS Jan_Revenue
    ,SUM(CASE WHEN month = 'feb' THEN Revenue ELSE NULL END) AS Feb_Revenue
    ,SUM(CASE WHEN month = 'mar' THEN Revenue ELSE NULL END) AS Mar_Revenue
    ,SUM(CASE WHEN month = 'apr' THEN Revenue ELSE NULL END) AS Apr_Revenue
    ,SUM(CASE WHEN month = 'may' THEN Revenue ELSE NULL END) AS May_Revenue
    ,SUM(CASE WHEN month = 'jun' THEN Revenue ELSE NULL END) AS Jun_Revenue
    ,SUM(CASE WHEN month = 'jul' THEN Revenue ELSE NULL END) AS Jul_Revenue
    ,SUM(CASE WHEN month = 'aug' THEN Revenue ELSE NULL END) AS Aug_Revenue
    ,SUM(CASE WHEN month = 'sep' THEN Revenue ELSE NULL END) AS Sep_Revenue
    ,SUM(CASE WHEN month = 'oct' THEN Revenue ELSE NULL END) AS Oct_Revenue
    ,SUM(CASE WHEN month = 'nob' THEN Revenue ELSE NULL END) AS Nov_Revenue
    ,SUM(CASE WHEN month = 'dec' THEN Revenue ELSE NULL END) AS Dec_Revenue
FROM Department
GROUP BY id
'''

"\nSELECT id\n    ,SUM(CASE WHEN month = 'jan' THEN Revenue ELSE NULL END) AS Jan_Revenue\n    ,SUM(CASE WHEN month = 'feb' THEN Revenue ELSE NULL END) AS Feb_Revenue\n    ,SUM(CASE WHEN month = 'mar' THEN Revenue ELSE NULL END) AS Mar_Revenue\n    ,SUM(CASE WHEN month = 'apr' THEN Revenue ELSE NULL END) AS Apr_Revenue\n    ,SUM(CASE WHEN month = 'may' THEN Revenue ELSE NULL END) AS May_Revenue\n    ,SUM(CASE WHEN month = 'jun' THEN Revenue ELSE NULL END) AS Jun_Revenue\n    ,SUM(CASE WHEN month = 'jul' THEN Revenue ELSE NULL END) AS Jul_Revenue\n    ,SUM(CASE WHEN month = 'aug' THEN Revenue ELSE NULL END) AS Aug_Revenue\n    ,SUM(CASE WHEN month = 'sep' THEN Revenue ELSE NULL END) AS Sep_Revenue\n    ,SUM(CASE WHEN month = 'oct' THEN Revenue ELSE NULL END) AS Oct_Revenue\n    ,SUM(CASE WHEN month = 'nob' THEN Revenue ELSE NULL END) AS Nov_Revenue\n    ,SUM(CASE WHEN month = 'dec' THEN Revenue ELSE NULL END) AS Dec_Revenue\nFROM Department\nGROUP BY id\n"