SQL 데이터 링크 : https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in

<BR><BR>
    
---------------------

# 집계 함수

## COUNT : 갯수

In [ ]:
'''
SELECT COUNT(Price)
FROM Products
'''

#### COUNT NULL값 주의

*(아스타) 포함 된 COUNT할 경우는 모든 값을 포함 된 상태에서 COUNT한다.

특정 컬럼을 COUNT한 상태에서 NULL 값이 있을 경우, 그 값을 제외하고 count한다.

In [10]:
'''
SELECT COUNT(*) FROM sample; -> 5
'''

'''
SELECT COUNT(Name) FROM sample -> 4

'''

'''
SELECT COUNT(DISTINCT Name) FROM sample -> 3
'''

'\nSELECT COUNT(DISTINCT Name) FROM sample -> 3\n'

## SUM : 합계
숫자가 포함된 컬럼에서 합계를 구할 수 있다.

In [3]:
'''
SELECT SUM(price)
FROM Products

'''

'\nSELECT SUM(price)\nFROM Products\n\n'

## AVG : 평균

**NULL 값 주의**
- AVG : NULL 값 제외하고 평균
- SUM : NULL 값 포함 하고 평균

In [4]:
'''
SELECT AVG(Visits) FROM sample;
-> (1+3+3+5) / 4 = 2.75
'''

'\nSELECT AVG(Visits) FROM sample;\n-> (1+3+3+5) / 4 = 2.75\n'

In [5]:
'''
SELECT SUM(Visits)/COUNT(*)
FROM sample;
-> (1+2+3+5) / 5 = 2.2
'''

'\nSELECT SUM(Visits)/COUNT(*)\nFROM sample;\n-> (1+2+3+5) / 5 = 2.2\n'

# MIN: 최소값

In [6]:
'''
SELECT MIN(Price)
FROM Products
'''

'\nSELECT MIN(Price)\nFROM Products\n'

# MAX : 최대값

In [7]:
'''
SELECT MAX(Price)
FROM Products
'''

'\nSELECT MAX(Price)\nFROM Products\n'

# 종합

Price의 갯수, 합계, 평균, 최소, 최댓값이 각 각 컬럼으로 나온다

In [8]:
'''
SELECT COUNT(Price), SUM(Price), AVG(Price), MIN(Price), MAX(Price)
FROM Products
'''

'\nSELECT COUNT(Price), SUM(Price), AVG(Price), MIN(Price), MAX(Price)\nFROM Products\n'

<BR><BR>

-----------------------------

# GROUP BY / HAVING

# GROUP BY

GROUP BY 사용할 때는 숫자도 넣을 수 있지만 최대한 컬럼이름을 넣어주자. 그 이유는 쿼리가 계속 달라지며 코드리뷰할 때 불편하다

#### 코드 : 공급자(SuppliedID)의 평균 가격은 어떻게 되는가?

In [11]:
'''
SELECT SupplierID, AVG(Price)
FROM Products
GROUP BY SupplierID
'''

'\nSELECT SuppliedID, AVG(Price)\nFROM Products\nGROUP BY Supplied\n'

#### GROUP BY에 여러 개의 컬럼을 넣을 수도 있다.

In [13]:
'''
SELECT SupplierID
     , AVG(Price)
     , CategoryID
FROM Products
GROUP BY SupplierID, CategoryID
ODER BY AVG(Price) DESC # 내림차순
'''

'\nSELECT SupplierID\n     , AVG(Price)\n     , CategoryID\nFROM Products\nGROUP BY SupplierID, CategoryID\nODER BY AVG(Price) DESC # 내림차순\n'

------------------------
<BR><BR><BR>

# HAVING : GROUP BY 조건

### SQL 실행 순서 : SELECT -> FROM -> WHERE -> GROUP BY.
    
그렇기 때문에 GROUP 안에서 조건을 넣고 싶다면 **HAVING절**을 사용하자!!!

##### HAVING절을 안 쓰고 조건을 줄 경우, WHERE Price >= 조건이 먼저 들어간다!!!!!!!!
WHERE 조건이 먼저 들어간 후 GROUP BY 조건이 들어가기 때문에 결과가 달라진다.

In [14]:
'''
SELECT SupplierID
     , AVG(Price)
     , CategoryID
FROM Products
WHERE Price >= 100
GROUP BY SupplierID, CategoryID
'''

'\nSELECT SupplierID\n     , AVG(Price)\n     , CategoryID\nFROM Products\nWHERE Price >= 10\nGROUP BY SupplierID, CategoryID\n'

##### HAVING절을 사용한 코딩

In [15]:
'''
SELECT SupplierID
     , AVG(Price)
     , CategoryID
FROM Products
GROUP BY SupplierID, CategoryID
HAVING AVG(Price) >= 100 
'''

'\nSELECT SupplierID\n     , AVG(Price)\n     , CategoryID\nFROM Products\nGROUP BY SupplierID, CategoryID\nHAVING Pirce >= 100 \n'

#### 별칭 정하기 : AS 선언 후 사용.

In [16]:
'''

SELECT SupplierID
     , AVG(Price) AS avg_price  
     , CategoryID
FROM Products
GROUP BY SupplierID, CategoryID
HAVING avg_price >= 100 

'''

'\n\nSELECT SupplierID\n     , AVG(Price) AS avg_price  \n     , CategoryID\nFROM Products\nGROUP BY SupplierID, CategoryID\nHAVING avg_price >= 100 \n\n'

<BR><BR><BR>

-------

# COUNT 문제

# 문제 1 : MAX - MIN

https://www.hackerrank.com/challenges/population-density-difference/problem?h_r=internal-search

<BR>
    
참고: SELECT 구문에서 -, + 가능하다

In [17]:
'''
SELECT MAX(POPULATION)-MIN(POPULATION)
FROM CITY
'''

'\nSELECT MAX(POPULATION)-MIN(POPULATION)\nFROM CITY\n'

# 문제 2 : AVG
캘리포니아 특정 도시의 평균 유명세를 알려주세요

https://www.hackerrank.com/challenges/revising-aggregations-the-average-function/problem?h_r=internal-search

In [19]:
'''
SELECT AVG(POPULATION)
FROM CITY
WHERE DISTRICT = 'California'
'''

"\nSELECT AVG(POPULATION)\nFROM CITY\nWHERE DISTRICT = 'California'\n"

# 문제 3 : SUM
캘리포니아 특정 구역의 유명세를 토탈을 알려주세요

https://www.hackerrank.com/challenges/revising-aggregations-sum/problem?h_r=internal-search

In [20]:
'''
SELECT SUM(POPULATION)
FROM CITY
WHERE District = 'California'
'''

"\nSELECT SUM(POPULATION)\nFROM CITY\nWHERE District = 'California'\n"

# 문제 4 : COUNT, WHERE
도시 중 유명세가 100,000 초과인 곳을 알려주세요.

https://www.hackerrank.com/challenges/revising-aggregations-the-count-function/problem?h_r=internal-search

In [21]:
'''
SELECT COUNT(NAME)
FROM CITY
WHERE Population > 100000
'''

'\nSELECT COUNT(NAME)\nFROM CITY\nWHERE Population > 100000\n'

# 문제 5: FLOOR(내림), AVG
도시 평균 인구 중 소수점을 버려라.

https://www.hackerrank.com/challenges/average-population/problem?h_r=internal-search

**참고**
- CEIL() : 올림
- ROUND() : 반올림
- FLOOR() : 내림

In [22]:
'''
SELECT FLOOR(AVG(POPULATION))
FROM CITY
'''

'\nSELECT FLOOR(AVG(POPULATION))\nFROM CITY\n'

# 문제 6: COUNT(DISTINCT)
도시의 중복된 값을 제외하고 구해라

https://www.hackerrank.com/challenges/weather-observation-station-4/problem

In [23]:
'''
SELECT COUNT(CITY) - COUNT(DISTINCT(CITY))
FROM STATION
'''

'\nSELECT COUNT(CITY) - COUNT(DISTINCT(CITY))\nFROM STATION\n'

<BR><BR>
    
----------------

# 문제 1: GORUP BY, AS , LIMIT, ORDER BY

1. salary * month = earings
2. 각 earings 별로 몇 명이 얼만큼 벌었는지 계산 -> GROUP BY
3. earings 중에 가장 큰 값을 가져온다. -> ORDER BY, LIMIT

https://www.hackerrank.com/challenges/earnings-of-employees/problem?h_r=internal-search

In [24]:
'''
SELECT slary * month as earings
       , COUNT(*)
FROM employee
GROUP BY earings
ORDER BY earings DESC
LIMIT 1
'''

'\nSELECT slary * month as earings\n       , COUNT(*)\nFROM employee\nGROUP BY earings\nORDER BY earings DESC\nLIMIT 1\n'