## DML 요약 정리
#### DML: Data Manipulation Language

<br>

---------------------

## 1. Insert

<br>

### 1) 테이블 전체에 데이터 추가하는 방법

**INSERT INTO** 테이블명 **VALUES**(VALUE_LIST);
<BR>
예시: **INSERT INTO** Salary **VALUES**('1', 'A', '250', '2020-03-31');

<BR>

### 2) 값을 저장할 열 지정하기
**INSERT INTO** 테이블명 (COUNT_LIST) **VALUES**(VALUE_LIST);
<BR>
예시: **INSERT INTO** Salary (Id, Salary) **VALUES**('2', '550'); -> Null 디폴트 값

<br>
<br>

------------------------


## 2. UPDATE

<br>

### 1) 컬럼 전체에 데이터 업데이트
**UPDATAE** 테이블명 **SET** 컬럼 = 값;
<BR>
예시: **UPDATE** Salary **SET** Salary = Salary + 100;
    
    
- UPDATE에서 **=** : 대입 연산자

<br>

### 2) 지정 행의 값 갱신하기
**UPDATAE** 테이블명 **SET** 컬럼 = 값 **WHERE** 조건식;
<BR>
예시: **UPDATE** Salary **SET** Salary = Salary + 100 **WHERE** Id=2 ;

<br>
<br>

------------------------


## 3. DELETE

<br>

### 1) 테이블 전체에 데이터 삭제하는 방법
**DELETE** **FROM** 테이블명;
<BR>
예시: **DELETE** **FROM** Salary;

<br>

### 2) WHERE 조건에 일치하는 모든 행 삭제
**DELETE** **FROM** 테이블명 **WHERE** 조건식;
<BR>
예시: **DELETE** **FROM** Salary **WHERE** Id=2;

<br><br>

----------------------

## 연습문제 1. Swap Salary_CASE

https://leetcode.com/problems/swap-salary/

<br><br>

----------------------

## 연습문제 2. Delete Duplicate Emails_서브쿼리, DELETE JOIN

https://leetcode.com/problems/delete-duplicate-emails/