## DML 요약 정리
#### DML: Data Manipulation Language

<br>

---------------------

## 1. Insert

<br>

### 1) 테이블 전체에 데이터 추가하는 방법

**INSERT INTO** 테이블명 **VALUES**(VALUE_LIST);
<BR>
예시: **INSERT INTO** Salary **VALUES**('1', 'A', '250', '2020-03-31');

<BR>

### 2) 값을 저장할 열 지정하기
**INSERT INTO** 테이블명 (COUNT_LIST) **VALUES**(VALUE_LIST);
<BR>
예시: **INSERT INTO** Salary (Id, Salary) **VALUES**('2', '550'); -> Null 디폴트 값

<br>
<br>

------------------------


## 2. UPDATE

<br>

### 1) 컬럼 전체에 데이터 업데이트
**UPDATAE** 테이블명 **SET** 컬럼 = 값;
<BR>
예시: **UPDATE** Salary **SET** Salary = Salary + 100;
    
    
- UPDATE에서 **=** : 대입 연산자

<br>

### 2) 지정 행의 값 갱신하기
**UPDATAE** 테이블명 **SET** 컬럼 = 값 **WHERE** 조건식;
<BR>
예시: **UPDATE** Salary **SET** Salary = Salary + 100 **WHERE** Id=2 ;

<br>
<br>

------------------------


## 3. DELETE

<br>

### 1) 테이블 전체에 데이터 삭제하는 방법
**DELETE** **FROM** 테이블명;
<BR>
예시: **DELETE** **FROM** Salary;

<br>

### 2) WHERE 조건에 일치하는 모든 행 삭제
**DELETE** **FROM** 테이블명 **WHERE** 조건식;
<BR>
예시: **DELETE** **FROM** Salary **WHERE** Id=2;

<br><br>

----------------------

## 연습문제 1. Swap Salary_CASE

https://leetcode.com/problems/swap-salary/

**UPDEATE** Sarlry <BR>
**SET** Name = **CASE** <BR>
            **WHEN** id = 1 **THEN** '가' <BR>
            **WHEN** id = 2 **THEN** '나' <BR>
            **WHEN** id = 3 **THEN** '다' <BR>
            **WHEN** id = 4 **THEN** '라' <BR>
        ELSE '확인필요'
    END;

In [1]:
'''
UPDATE salary
SET sex = CASE 
WHEN sex = 'f' THEN 'm'
ELSE 'f' END 
'''

"\nUPDATE salary\nSET sex = CASE \nWHEN sex = 'f' THEN 'm'\nELSE 'f' END \n"

<br><br>

----------------------

## 연습문제 2. Delete Duplicate Emails_서브쿼리, DELETE JOIN

https://leetcode.com/problems/delete-duplicate-emails/

#### 풀이 1) 서브쿼리

In [2]:
'''
DELETE 
FROM Person
WHERE Id NOT IN(
SELECT sub.min_id
FROM(
SELECT Email, MIN(Id) AS min_id
FROM Person
GROUP BY EMAIL
))sub
'''

'\nDELETE \nFROM Person\nWHERE Id NOT IN(\nSELECT sub.min_id\nFROM(\nSELECT Email, MIN(Id) AS min_id\nFROM Person\nGROUP BY EMAIL\n))sub\n'

#### 풀이 2) inner join

참고: https://www.mysqltutorial.org/mysql-delete-join/

In [4]:
'''
DELETE p1
FROM Person p1
    INNER JOIN Person p2 ON p1.Email = p2.Email
WHERE P1.Id > p2.Id
'''

'\nDELETE p1\nFROM Person p1\n    INNER JOIN Person p2 ON p1.Email = p2.Email\nWHERE P1.Id > p2.Id\n'

In [6]:
'''
p1.id      p1.email       p2.id     p2.email
1       john@example.com     1      john@example.com  X
1       john@example.com     3      john@example.com  O
2       bob@example.com      2      bob@example.com   O
3       john@example.com     1      john@example.com  X
3       john@example.com     3      john@example.com  X
'''

'\np1.id      p1.email       p2.id     p2.email\n1       john@example.com     1      john@example.com  X\n1       john@example.com     3      john@example.com  O\n2       bob@example.com      2      bob@example.com   O\n3       john@example.com     1      john@example.com  X\n3       john@example.com     3      john@example.com  X\n'

<BR><BR><BR>

----------------------

## ERD

entity: 객체-> 테이블  <br>
relationship:관계  <br>
diagram: <br>
attribute :  <br>
   - 컬럼 이름 <br>
   - 데이터 타입 <br>
      -   숫자: 정수, 실수 <br>
      -  문자: <br>
      -  날짜: <br>